li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 10px;
  color: white;
}

li button {
  background: transparent;
  border: 0;
  cursor: pointer;
  color: white;
}
